/* Root component */

.main {
    margin: auto;
    height: 100%;
}

/* Login component */

.loginDiv {
    margin: auto;
}

.loginDiv input {
    height: 45px;
    width: 260px;
    font-size: 18px;
    text-align: center;
    border-radius: 7px;
}

.loginDiv input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.loginDiv button {
    background: linear-gradient(#D3D3D3, #D3D3D3);
    width: 160px;
    height: 45px;
    margin-left: 47px;
    font-size: 25px;
    color: #000000;
}

.loginDiv p {
    margin-top: 25px;
    font-size: 20px;
    color: red;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    font-size: 18px;
}

p {
    word-wrap: break-word
}

/* Home component */

.home {
    padding:10px;
}

.header {
    padding-bottom : 10px;
    margin-bottom : 10px;
}

.header span {
    width: 50%;
    font-size: 34px;
    font-weight: 500;
    margin-top: -6px;
    color: #000000;
}

.header button, .home div:nth-child(4) button {
    padding: 10px 30px;
    font-weight: bold;
    color: #FFF;
    background-color: #bdc3c7;
    background: linear-gradient(#bdc3c7, #95a5a6);
    border: none;
    outline: none;
    font-size : 18px;
    letter-spacing : 1px;
    border-radius:10px;
}

.chatArea {
    max-height:460px;
    overflow:auto;
    overflow-x: hidden;
}

.subChatArea {
    width : 30%;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom : 10px;
    min-height : 60px;
    padding : 10px;
    clear: both;
}

.subChatArea p {
    padding:10px;
    margin-top : -75px;
    margin-left : 5px;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background : #fff;
    text-align: center;
    line-height: 70px;
    text-transform: capitalize;
    font-size:18px;
    font-weight:600;
}

.inputArea {
    height : 40px;
    margin-top:8px;
    border-top: 1px solid #000000;
    padding-top: 5px;
}

.inputArea input {
    width:50%;
    height : 35px;
    font-size : 18px;
    margin-left: 50px;
    border-radius: 15px;
}

.inputArea input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

.classHide {
    display: none
}

.classShow {
    display: block;
    color : #fff;
}

.left {
    float : left;
    clear: both;
}

.right {
    float : right;
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

